body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
}
.container{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5vh;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.p1{
    font-size: 4vh;
    font-weight: bold;
}
.p2{
    font-size: 20px;
    color: rgb(127, 20, 20);
}
.p3{
    font-size: 15px;
    color: rgb(45, 69, 158);
}
.add1{
    background-color: rgb(171, 46, 46);
    color: rgb(255, 255, 255);
    border: none;
    padding: 2vh;
    border-radius: 1vh;
    cursor: pointer;
}
.add1:hover{
    background-color: rgb(85, 74, 74);
}
.add2{
    background-color: rgb(255, 255, 255);
    color: rgb(45, 69, 158);
    border: 1px solid rgb(45, 69, 158);
    padding: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    width: 10vh;
    margin-left: 20px;
}
.add2:hover{
    background-color: rgb(45, 69, 158);
    color: rgb(255, 255, 255);
}
.add3{
    background-color: rgb(53, 88, 174);
    color: rgb(255, 255, 255);
    border:none;
    padding: 2vh;
    border-radius: 2vh;
    cursor: pointer;
    width: 11vh;
    margin-left: 20px;
}
.add3:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(53, 88, 174);
    border: 1px solid rgb(53, 88, 174);
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: red;
    padding: 5px;
    height: 5vh;
    width: 30vh;
    text-align: center;
    margin: auto;
    border-radius: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
