body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
}
.container{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5vh;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(8, 146, 100);
}
.p1{
    font-size: 4vh;
    font-weight: bold;
}
.p2{
    font-size: 20px;
    color: rgb(169, 36, 36);
}
.p3{
    font-size: 15px;
    color: rgb(45, 69, 158);
}
.add1{
    background-color: rgb(196, 15, 15);
    color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    transition: opacity 0.15s , color 1s , box-shadow 0.15s ease;
    border: black solid 1px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.add1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.733);
    opacity: 0.8;
}
.add1:active{
    opacity: 0.5;
}
.add2{
    background-color: rgb(255, 255, 255);
    color: rgb(45, 69, 158);
    border: 1px solid rgb(45, 69, 158);
    padding: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    width: 10vh;
    margin-left: 20px;
    transition:  opacity 0.50s ease, color 1s ease, box-shadow 0.15s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.add2:hover{
    background-color: rgb(45, 69, 158);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.733);
    opacity: 0.8;
}
.add2:active
{
    opacity: 0.5;

}
.add3{
    background-color: rgb(53, 88, 174);
    color: rgb(255, 255, 255);
    border:none;
    padding: 2vh;
    border-radius: 5vh;
    cursor: pointer;
    width: 11vh;
    margin-left: 20px;
    transition:  opacity 0.50s ease, color 1s ease, box-shadow 0.15s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.add3:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(53, 88, 174);
    border: blue solid 1px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.733);
    opacity: 0.7;
}
.add3:active{
   opacity: 0.5;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(185, 16, 16);
    padding: 5px;
    height: 5vh;
    width: 30vh;
    text-align: center;
    margin: auto;
    border-radius: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
